* {
  box-sizing: border-box !important;
}

.sign-up {
  background-image: url(../../images/signup-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100vh;
  box-sizing: content-box;
}
.sign-up .logo img {
  height: 80px;
}
.sign-up form {
  max-width: 400px;
  margin-top: 20px;
}
.sign-up .form-control {
  background: #f5f5f5;
  border: none;
  padding: 25px 15px !important;
}
.error {
  color: red;
}

.sign-up .option label {
  color: red;
  cursor: pointer;
}
ul {
  list-style: none;
}
ul li {
  margin-right: 10px;
}
.radios {
  display: flex;
}
.radios li label {
  margin-right: 1rem;
}
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.radios li {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}
.radios li:hover {
  background: #f00303;
  color: #fff;
}

[type="radio"] {
  opacity: 0;
}

[type="radio"]:checked + label {
  background: #f00303;
  color: #fff;
} */
