.itemsContainer {
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 calc(var(--gap) / 2);
}

.itemsInner {
  display: flex;
  flex-wrap: wrap;
}

#restStatus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

#restStatus p {
  font-size: large;
}

.sign-up {
  background-image: url(../images/signup-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100vh;
  box-sizing: content-box;
}
